.history-btn {
  width: 155px;
  height: 40px;
  background: rgba(58, 61, 66, 0.1);
  border-radius: 12px !important;

  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 23px;
  /* identical to box height, or 177% */

  color: #000000;
}

.history-price {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  /* text-align: right; */

  color: #1ec15f;
}

.history-list {
  background: #ffffff;
  /* box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05); */
  /* border-radius: 10px; */
}
