.profile-photo {
  /* width: 50px !important; */
}

.profile-edit {
  /* display: grid; */
  text-decoration: none;
}

.profile-name {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

  text-align: center;

  color: #4d4b57;
}

.profile-phone {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  /* identical to box height, or 169% */

  text-align: center;

  color: #7a7886;
}

.profile-btn {
  background: #e5e8ed;
  border-radius: 10px;
  height: 64px;
  padding-top: 18px;

  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */

  color: #4d4b57;
}
