.profile-photo {
  width: 80px !important;
  height: 80px;
  object-fit: cover;
  border-radius: 10px;
}

.profile-edit {
  /* display: grid; */
  text-decoration: none !important;
}

.profile-name {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

  text-align: center;

  color: #4d4b57;
}

.profile-phone {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  /* identical to box height, or 169% */

  text-align: center;

  color: #7a7886;
}

.profile-btn {
  background: #e5e8ed !important;
  border-radius: 10px !important;
  height: 64px;
  padding-top: 20px !important;

  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 28px !important;
  /* identical to box height, or 175% */

  color: #4d4b57 !important;
}

.profile-icon {
  color: #4d4b57;
  font-size: large !important;
}

.profile-icon:hover {
  color: #ffffff;
}

.profile-btn:hover {
  background: #7f8185 !important;
  color: #ffffff !important;
}

.personalInfo-text {
  width: 342px !important;

  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */

  color: #7a7886;
}

.changePin-col {
  border-radius: 10px;
}
